<hr class="bottom-hr hr-style"/>

<h2 class="similar-designs-title">Similar design resources</h2>

<div class="row similar-resources">
  <div class="col-sm-12 col-md-6 col-lg-4">
    <a href="/" title="UI Design new trends"><h3 class="similar-resources-h3">UI Design new trends</h3></a>
    <a href="/category/apps" title="UI Design for Android app"><h3 class="similar-resources-h3">UI Design for Android app</h3></a>
    <a href="/" title="UI Design styles"><h3 class="similar-resources-h3">UI Design styles</h3></a>
    <a href="/type/figma" title=">UI Design using Figma"><h3 class="similar-resources-h3">UI Design using Figma</h3></a>
    <a href="/type/adobe-xd" title="UI Design using Adobe XD"><h3 class="similar-resources-h3">UI Design using Adobe XD</h3></a>
    <a href="/category/wireframes" title="UI Design wireframe"><h3 class="similar-resources-h3">UI Design wireframe</h3></a>
    <a href="/category/landing-pages" title="UI Design of website"><h3 class="similar-resources-h3">UI Design of website</h3></a>
    <a href="/" title="UI Design mockup free"><h3 class="similar-resources-h3">UI Design mockup free</h3></a>
    <a href="/" title="UI Design ideas"><h3 class="similar-resources-h3">UI Design ideas</h3></a>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4">
    <a href="/type/figma" title="Free UI Kits for Figma"><h3 class="similar-resources-h3">Free UI Kits for Figma</h3></a>
    <a href="/type/adobe-xd" title="Free UI Kits for Adobe XD"><h3 class="similar-resources-h3">Free UI Kits for Adobe XD</h3></a>
    <a href="/" title="Free UI Design templates"><h3 class="similar-resources-h3">Free UI Design templates</h3></a>
    <a href="/" title="Free UI Design samples"><h3 class="similar-resources-h3">Free UI Design samples</h3></a>
    <a href="/category/illustrations" title="Free UI illustrations"><h3 class="similar-resources-h3">Free UI illustrations</h3></a>
    <a href="/category/landing-pages" title="Free Landing page designs"><h3 class="similar-resources-h3">Free Landing page designs</h3></a>
    <a href="/category/landing-pages" title="Free HTML/CSS templates"><h3 class="similar-resources-h3">Free HTML/CSS templates</h3></a>
    <a href="/category/icons" title="Free UI icons"><h3 class="similar-resources-h3">Free UI icons</h3></a>
    <a href="/" title="Free UI Design store"><h3 class="similar-resources-h3">Free UI Design store</h3></a>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4">
    <a href="/type/adobe-illustrator" title="UI Kit illustrator free download"><h3 class="similar-resources-h3">UI Kit illustrator free download</h3></a>
    <a href="/category/landing-pages" title="Web UI Design templates"><h3 class="similar-resources-h3">Web UI Design templates</h3></a>
    <a href="/category/apps" title="Mobile app UI Design"><h3 class="similar-resources-h3">Mobile app UI Design</h3></a>
    <a href="/category/apps" title="Best app templates free"><h3 class="similar-resources-h3">Best app templates free</h3></a>
    <a href="/" title="Sample UI Design templates"><h3 class="similar-resources-h3">Sample UI Design templates</h3></a>
    <a href="/" title="UI UX Design templates"><h3 class="similar-resources-h3">UI UX Design templates</h3></a>
    <a href="/category/landing-pages" title="Web Design resources"><h3 class="similar-resources-h3">Web Design resources</h3></a>
    <a href="/category/icons" title="UI UX Icon pack free"><h3 class="similar-resources-h3">UI UX Icon pack free</h3></a>
    <a href="/category/landing-pages" title="Landing page Design templates"><h3 class="similar-resources-h3">Landing page Design templates</h3></a>
  </div>
</div>

<footer>
  <h3 class="footer-h3">Copyright © 2021 UI Design Resources</h3>
  <p class="footer-p">All screenshots are © of their respective owners.</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
</body>
</html>