<nav id="nav-custom" class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/" title="UI Design Resources">
      <img class="logo" src="/images/ui/full-logo.png" alt="UI Design Resources"/>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/type/figma" title="Download free Figma design templates">Figma</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/type/adobe-xd" title="Download free Adobe XD design templates">Adobe XD</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/type/sketch" title="Download free Sketch design templates">Sketch</a>
          </li>
          <li class="nav-item dropdown dropdown-on-hover">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              More
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/type/invision-studio" title="Download free InVision Studio design templates">InVision Studio</a></li>
              <li><a class="dropdown-item" href="/type/adobe-illustrator" title="Download free Adobe Illustrator design templates">Adobe Illustrator</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link last-nav-item" href="mailto: email@address.com" title="Contact us for UI design">Contact us</a>
          </li>
        </ul>
    </div>
</nav>