<%- include("partials/header"); -%>

<div class="row hero-row">
  <div class="col-md-12 col-lg-6 hero-text-div">
    <h1 class="hero-h1">404 | Page Not Found</h1>
    <h2 class="hero-h2">The page you are requesting does not exist. Meanwhile you can explore other UI design resources.</h2>
    <a href="/" title="Explore other UX/UI design kits and templates"><button class="hero-button"><%= hero_button %></button></a>
  </div>
  <div class="col-md-12 col-lg-6 hero-image-div">
    <img class="hero-image" src="/images/ui/hero-image.png" alt="404 Page not found"/>
  </div>
</div>

<%- include("partials/footer"); -%>